
@{
    ViewData["Title"] = "Wystaw aukcję | Aukcje | Dział allegro";
    ViewData["Title_1"] = "Aukcje";
    ViewData["Title_2"] = "Dodaj nową aukcję";
}


<div class="box">
    <div class="images-loader" style="background:url(/images/Pacman-0.7s-91px.svg) center center no-repeat; display:none; background-color:rgba(0, 00, 0, .5); position:absolute; width:95%; height:100%;"></div>

        <div class="box-header with-border">
            <h3 class="box-title">Wystaw nową aukcję</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body ">
            <form method="post" enctype="multipart/form-data">


                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-sm-2" for="auction_title">Tytuł aukcji</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="auction_title" id="auction_title" />
                            @ViewData["token"]
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <h4>Wybierz kategorię</h4>
                    <div class="col-md-2">
                        @Html.DropDownList("maincategories", new SelectList((System.Collections.IEnumerable)ViewData["MainCategories"], "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <select name="category2" id="category2" class="form-control">
                            <option>-- Wybierz kategorię --</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="category3" id="category3" class="form-control">
                            <option>-- Wybierz kategorię --</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="category4" id="category4" class="form-control">
                            <option>-- Wybierz kategorię --</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="category5" id="category5" class="form-control">
                            <option>-- Wybierz kategorię --</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button id="confirmCategory" class="btn btn-github" type="submit">Wybierz</button>
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="col-md-6">
                        <h4>Wybierz cennik dostaw</h4>
                        @Html.DropDownList("shippingrate", new SelectList((System.Collections.IEnumerable)ViewData["Shipping"], "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <h4>
                            Warunki oferty
                        </h4>
                        <div class="col-md-12">
                            <h5>Informacja o gwarancjach</h5>
                            @Html.DropDownList("warrantyDoc", new SelectList((System.Collections.IEnumerable)ViewData["Warranty"], "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-12">
                            <h5>Warunki reklamacji</h5>
                            @Html.DropDownList("impliedWarrantyDoc", new SelectList((System.Collections.IEnumerable)ViewData["ImpliesWarranty"], "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-12">
                            <h5>Polityka zwrotów</h5>
                            @Html.DropDownList("returnPolicyDoc", new SelectList((System.Collections.IEnumerable)ViewData["ReturnPolicy"], "Value", "Text"), new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <h4>Parametry oferty</h4>
                    <div class="col-md-6" id="offer_parameters">
                    </div>
                </div>
                <div class="col-md-12">
                    <h4>Zdjęcia</h4>
                   
                        <input type="file" id="imageUploadForm" name="image" multiple="multiple" />

                        <button id="confirmPhotos" class="btn btn-github" type="button">Wyślij zdjęcia do allegro</button>
                   
                </div>
            </form>
        </div>

    </div>

