@{
    ViewData["Title"] = "Home Page";
    ViewData["Title_1"] = "Dashboard";
    ViewData["Title_2"] = "Strona główna";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewData["newOrders"]</h3>
                <p>Nowych zamówień</p>
            </div>
            <div class="icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewData["distributorsPrices"]</h3>
                <p>Cen u dystrybutorów</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewData["customerAmount"]</h3>
                <p>Zarejestrowanych użytkowników</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>
                <p>Wizyt</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">
                Zobacz szczegóły <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<div class="box col-md-6" style="width:50%; font-size:13px;">
    <div class="box-header with-border">
        <h3 class="box-title">Sprzegla24.pl</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <table id="order_list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Wartość</th>
                    <th>Wartość bez dostawy</th>
                    <th>Płatność</th>
                    <th>Referencja</th>
                </tr>
            </thead>
            @foreach (var std in ViewData["products"] as IList<A_orders>)
            {
                <tr>
                    <td>@std.Created</td>
                    <td>@(Math.Round(std.Total_paid, 2)) PLN</td>
                    <td>@(Math.Round(std.Total_paid_products, 2)) PLN</td>
                    <td>@std.Payment</td>
                    <td>@std.Reference</td>
                </tr>
            }

        </table>
    </div>

</div>
<div class="box col-md-6" style="width:50%; font-size:13px;">
    <div class="box-header with-border">
        <h3 class="box-title">Sprzeglo.com.pl</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Zwiń">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Zamknij">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <table id="order_list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Wartość</th>
                    <th>Wartość bez dostawy</th>
                    <th>Płatność</th>
                    <th>Referencja</th>
                </tr>
            </thead>
            @foreach (var std in ViewData["productsB"] as IList<B_orders>)
            {
                <tr>
                    <td>@std.Created</td>
                    <td>@(Math.Round(std.Total_paid, 2)) PLN</td>
                    <td>@(Math.Round(std.Total_paid_products, 2)) PLN</td>
                    <td>@std.Payment</td>
                    <td>@std.Reference</td>
                </tr>
            }
        </table>
    </div>
</div>
